
.login-from {
    margin: 100px 75px;
}

.login-from form{
    margin: 40vh 34vw;
}

.text-center{
    color:#fff;
    text-transform:uppercase;
    font-size: 23px;
    margin: -50px 0 80px 0;
    display: block;
    text-align: center;
}
.box{
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.89);
    border-radius:3px;
    /*padding:70px 100px;*/
}
.input-container{
    position:relative;
    margin-bottom:25px;
}
.input-container label{
    position:absolute;
    top:0px;
    left:0px;
    font-size:16px;
    color:#fff;
    pointer-event:none;
    transition: all 0.5s ease-in-out;
}
.input-container input{
    border:0;
    border-bottom:1px solid #555;
    background:transparent;
    width:100%;
    padding:8px 0 5px 0;
    font-size:16px;
    color:#fff;
}
.input-container input:focus{
    border:none;
    outline:none;
    border-bottom:1px solid #e74c3c;
}
.input-container input:focus ~ label,
.input-container input:valid ~ label{
    top:-10px;
    font-size:12px;
}


.table {
    width: 100%;
    border: none;
    margin-bottom: 10px;
}
.table thead th {
    font-weight: bold;
    text-align: left;
    border: none;
    padding: 10px 15px;
    background: #d8d8d8;
    font-size: 14px;
}
.table thead tr th:first-child {
    border-radius: 8px 0 0 8px;
}
.table thead tr th:last-child {
    border-radius: 0 8px 8px 0;
}
.table tbody td {
    text-align: left;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    vertical-align: top;
}
.table tbody tr:nth-child(even){
    background: #f3f3f3;
}
.table tbody tr td:first-child {
    border-radius: 8px 0 0 8px;
}
.table tbody tr td:last-child {
    border-radius: 0 8px 8px 0;
}
.table ~ form{
    display: none;
}
.table ~ form ~ button{
    margin-bottom: 50px;
}
.b-container{
    background-color: #ccc;
    margin:0 auto;
    font-size:30px;
    color: #fff;
}
.b-popup{
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0;
    left: 0;
}
.b-popup .b-popup-content{
    margin:30vw 40vw;
    padding:10px;
    background-color: #c5c5c5;
    border-radius:5px;
    box-shadow: 0 0 10px #000;
}

#noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

button {
    margin-top: 20px;
    width: 100px;
    height: 30px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: black;
    background: white;
    border: 1px solid black;
    box-shadow: 3px 3px 0 black,
    -3px -3px 0 black,
    -3px 3px 0 black,
    3px -3px 0 black;
    transition: 300ms ease-in-out;
}

button:hover {
    box-shadow: 20px 5px 0 black, -20px -5px 0 black;
}

button:focus {
    outline: none;
}